<template>
  <div class="map" :style="{ height }">
    <MglMap
      :accessToken="token"
      mapStyle="mapbox://styles/mapbox/streets-v11"
      :center="center"
      :zoom="location.length > 0 ? 10 : 3"
      :attributionControl="false"
      @click="mapClick"
    >
      <MglNavigationControl position="top-right" />
      <MglGeolocateControl position="top-left" />

      <MglMarker v-show="location.length > 0" :coordinates="center">
        <div slot="marker" class="marker">
          <span>
            <v-icon color="primary" size="22">mdi-target</v-icon>
          </span>
        </div>
      </MglMarker>
      <MglMarker v-if="userLoc" :coordinates="userLoc.coords">
        <div slot="marker" class="marker">
          <span>
            <v-icon color="secondary" size="22">mdi-white-balance-sunny</v-icon>
          </span>
        </div>
      </MglMarker>
    </MglMap>
    <div class="hoursOfSun">{{ sunTime }} {{ $t("hours-per-day") }}</div>
  </div>
</template>
<script>
export default {
  components: {
    MglMap: () => {
      if (window) {
        return import("vue-mapbox")
          .then(m => m.MglMap)
          .catch();
      }
    },
    MglMarker: () => {
      if (window) {
        return import("vue-mapbox")
          .then(m => m.MglMarker)
          .catch();
      }
    },
    MglNavigationControl: () => {
      if (window) {
        return import("vue-mapbox")
          .then(m => m.MglNavigationControl)
          .catch();
      }
    },
    MglGeolocateControl: () => {
      if (window) {
        return import("vue-mapbox")
          .then(m => m.MglGeolocateControl)
          .catch();
      }
    }
  },
  props: {
    sunTime: Number,
    location: Array,
    height: {
      type: String,
      default: "500px"
    }
  },
  data() {
    return {
      token: process.env.VUE_APP_MAPBOX_API_KEY,
      map: null,
      defaultCoord: [-47.46, -14.06],
      userLoc: null
    };
  },
  computed: {
    center() {
      return this.location.length > 0 ? this.location : this.defaultCoord;
    }
  },
  mounted() {
    window.mapboxgl = require("mapbox-gl");
    this.map = new window.mapboxgl.Map("mapbox://styles/mapbox/streets-v11");
  },
  methods: {
    mapClick(e) {
      const { lat, lng } = e.mapboxEvent.lngLat;
      this.userLoc = {};
      this.userLoc.coords = [lng, lat];
      this.$emit("updateLocation", [lng, lat]);
    }
  }
};
</script>
<style>
.map,
map {
  background: grey;
  width: 100%;
}
.marker {
  width: 0;
  height: 0;
}

.marker span {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  color: #000;
  background: #fff;
  border: solid 2px;
  border-radius: 0 70% 70%;
  box-shadow: 0 0 2px #000;
  cursor: pointer;
  transform-origin: 0 0;
  transform: rotateZ(-135deg);
}
.marker span * {
  transform: rotateZ(135deg);
}
.popup {
  z-index: 999;
}
.button {
  position: absolute;
  bottom: 50px;
  right: 45vw;
  left: 45vw;
  width: 45vw;
}
.hoursOfSun {
  background: purple;
  position: relative;
  width: 150px;
  border-radius: 25px;
  padding: 10px 0;
  bottom: 340px;
  left: 5px;
}
.z-max {
  z-index: 99;
}
</style>
