<template>
  <v-row justify="center">
    <v-dialog v-model="show" scrollable max-width="500px">
      <v-card>
        <v-card-title>{{ $t("select-model") }}</v-card-title>
        <v-divider></v-divider>
        <v-card-text style="height: 300px">
          <v-radio-group v-model="dialog" column>
            <v-radio
              v-for="router in routerList"
              :key="router.routerPath"
              :label="router.model"
              :value="router.model"
              @change="selected = { ...router, type: 'router' }"
            ></v-radio>
          </v-radio-group>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-btn color="primary darken-1" text @click="$emit('close')">{{
            $t("cancel")
          }}</v-btn>
          <v-btn
            color="secondary darken-1"
            text
            @click="$emit('add', selected)"
            >{{ $t("add") }}</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import routerList from "../../assets/data/routers";
export default {
  props: {
    dialog: Boolean
  },
  data() {
    return {
      routerList: routerList.filter(i => i.type === "single-board-computer"),
      selected: routerList[0]
    };
  },
  computed: {
    show: {
      get() {
        return this.dialog;
      },
      set() {
        this.$emit("close");
      }
    }
  }
};
</script>
